<div class="container">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Plat en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form>


        <div class="card shadow mb-4">
        <div class="card-body">
        <table class="table table-striped">
                    
                <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>Style de cuisine</th> </tr>
                <tbody *ngFor="let plat of plats | searchFilter:searchTerm">
                <tr >
                <td>{{plat.idPlat}}</td>
                <td>{{plat.nomPlat}}</td>
            <td>{{plat.prixPlat}}</td>
            <td>{{plat.dateCreation | date:'dd/MM/yyyy'}}</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>