<div class="container">
<div class="card shadow mb-4">
<div class="card-body">
<table class="table table-striped">
        <thead>
            <tr>
                <th>Liste de Plats</th>
            </tr>
    </thead>
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>Style de cuisine</th> </tr>
        <tbody *ngFor="let plat of plats">
        <tr >
            <td>{{plat.idPlat}}</td>
            <td>{{plat.nomPlat}}</td>
            <td>{{plat.prixPlat}}</td>
            <td>{{plat.dateCreation | date:'dd/MM/yyyy'}}</td>
            <td>{{plat.stylecuisine.nomstyle}}</td>
            <td>{{plat.stylecuisine.nomstyle}}</td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerPlat(plat)">Supprimer</a></td>
            <td><a *ngIf="authService.isAdmin() ||authService.isAgent()" class="btn btn-success" [routerLink]="['/updatePlat',plat.idPlat]">Modifier</a></td>
            <!-- <td><a *ngIf="authService.isAgent()" class="btn btn-success" [routerLink]="['/updatePlat',plat.idPlat]">Modifier</a></td> -->

        </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
